* { padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px; }
BODY { padding-right: 0px; padding-left: 0px; font-size: 16px; padding-bottom: 0px; margin: 0px; line-height: 1.2em; padding-top: 0px; font-family: Arial; }
a:link,a:visited,a:active { color: #015FB6; text-decoration:none; }
 a:hover { color:Red; font-weight:bold;  text-decoration: underline; }
.keyword { color: #c60a00; }
.home { min-width: 980px; width: 100%; }
.header { clear: both; margin: 0px auto; width: 100%; position: relative; height: 103px; }
.login_area { color: #5b5b5b; font-size: 12px; overflow: hidden; text-align: right; height: 26px; line-height: 26px; }
.login_area a:hover { color:Red; font-weight:bold;  text-decoration: underline; font-size: 12px; }
.headerMain { height: 70px; }
.logo { float:left;}
.searchBox { padding-left: 0px;  width:auto; padding-top: 2px; }
.searchInfo { clear: both; padding-right: 1em; border-top: #3366cc 1px solid; font-size: 12px;padding-left:15px; margin-left: 5px; padding-top: 1px; height: 1.7em; background-color: #d5ddf3;  }

.selType { padding-right: 2px; padding-left: 2px;  }
.txtSeach {margin-right:6px; padding-right: 2px; padding-left: 2px; font-size: 16px; padding-bottom: 0px; width: 20em; line-height: 18px; padding-top: 3px; font-family: arial; height: 19px; }
.btnSearch { font-size: 13px; margin-bottom: 2px; width: 6em; height: 25px; }

.main { min-width: 950px; width: 100%; text-align: left;margin-top:18px; }
.searchResult { min-height: 350px; float: left; overflow: hidden; width: 100%; margin-right: -25em; }
.searchResult .forflow { float: none; margin: 10px 10px 10px 20px; width: auto; }
.searchItem { clear: both; margin-top: 10px; font-size: 13px; margin-bottom: 10px; overflow: hidden; width: 45%; WORD-BREAK: break-all; font-family: Verdana; TEXT-OVERFLOW: ellipsis; -o-text-overflow: ellipsis; }
.searchItemTitle { clear: both;font-size:16px;font-weight:bold; }
.searchCon { clear: both; font-size: 13px; padding: 8px 0px; }
.searchURL { clear: both; font-size: 13px; }
.searchURL SPAN { color: #008000; }

.pager { font-size: 12px; margin: 25px 20px; text-align:left; color: #2E6AB1; line-height: 200%; }
.pager a, .pager span a { margin-right: 4px; padding: 2px 5px; text-decoration: none; }
.pager a:hover { background: #2E6AB1; }
.pager .current { background-color: #2E6AB1; border: solid 1px while; font-weight: bold; margin-right: 4px; }
.pager .current a { color: White; }

.footer_bottom { text-align: center; margin-top: 15px; padding-bottom: 20px; font-size: 14px; }
